.Bedroom{
    background-image: url('../../img/jzx/banner_02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 15rem;padding-top: 4.5rem;
}

.Ponder{
    background-image: url('../../img/jzx/permeable.png');background-size: contain;
    background-repeat: no-repeat;margin:0 auto;color: #fff;position: relative;
    height: 10rem;width: 24rem;
}
.Ponder strong{
    font-size: 4rem;display:block;text-align: center;padding-top: 1rem;
}
.Ponder span{
    position: absolute;top: -1rem; left: 6.5rem;
    font-size: 1.3rem;
}
.Ponder ul{
    display: flex;background-color: #fff;color: #003333;width: 20rem;height: 2rem;align-items: center;
    justify-content: center;margin: 0 auto;
}
.Ponder ul li i{
    background-color: #003333;width: 0.5rem;height: 0.5rem;border-radius: 100%;
    display: inline-block;margin-right: 0.2rem;
}
.Bedroom p{
        background: linear-gradient(to right, #a5894f, #cb7256);
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;padding-top: .5rem;
}
.onlineTitle{font-family:'PingFang SC';margin:3.75rem 0 2rem 0;text-align: center;font-size:1.5rem;font-weight: bold;color: #4b4b4b;}
.item{text-align: center;margin-bottom: 0.75rem;}
.item>input{
    width:26rem;height:3.7rem;border:1px solid #CECECE;
    text-indent: 1em;outline: none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-bnorder-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
}
.item>select{
    width: 12.8rem;background-color: #fff;height: 3.7rem;border:1px solid #CECECE;
    outline: none;text-indent: 0.6em;color:#808080;border-radius:5px;outline: none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-bnorder-radius:5px;
    -o-border-radius:5px;
}
.item>textarea{
    text-indent: 0.6em;padding-top:0.6rem;width:26rem;height: 9.7rem;outline: none;
    resize:none ;border:1px solid #CECECE;border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-bnorder-radius:5px;
    -o-border-radius:5px;
}
.itemBtn{text-align: center;}
.itemBtn>button{
    width:26rem;height:4rem; font-family:'PingFang SC';font-size: 1.25rem;
    background-color:#e99a1c;color: #fff;border-radius:5px;outline: none;border:none;
}   
.warmth{
    background-image: url('../../img/jzx/Juxing.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 10rem;height: 12rem;margin:0 auto;margin-top: 5rem;
    background-color: transparent;  
}
.warmth p{
    padding-top: 2rem;font-size: 1.5rem;text-align: center;
}
.ellipsis{
    padding-top: 1.5rem;display: inline-block;font-size: 2.2rem;
    position: relative;width: 20rem;
    top: 0;right:5rem;text-align: center; 
}
.gement:first-child{
    background-image: url('../../img/jzx/gement.jpg');
    background-repeat: no-repeat;
    background-size: cover;height: 17rem;
    margin-top: 3rem;
    
}
.gement{
    background-image: url('../../img/jzx/gement.jpg');
    background-repeat: no-repeat;
    background-size: cover;height: 17rem;
    margin-top: 3rem;
}
.lucky{
    background-image: url('../../img/jzx/lucky_04.jpg');
    background-repeat: no-repeat;
    background-size: cover;height: 17rem;
}
.hive{
    background-image: url('../../img/jzx/Hive_02.jpg');
    background-repeat: no-repeat;
    background-size: cover;height: 17rem;
}
.material b{
    display: inline-block;width: 13rem;
}
.material{
    color: #fff;font-size: 2.2rem;text-align: center;padding-top: 4.5rem;
}
.material  a{
    border-top:1px solid #fff; display: inline-block;border-bottom: 1px solid #fff;
    width: 21rem;color: #fff;
}
.Consultation{
    display: flex;flex-wrap: wrap;align-items: center;height: 3.5rem;font-size: 1rem;margin:1rem 0;
}
.Consultation:last-child{
    border-bottom: 1px solid #ddd;
}
.Consultation li{
    margin-left: 0.8rem;width: 30%;
}
.cr-Polly{
    margin-top: 3rem;overflow: hidden;
}
.Crops{
    float: left;width: 50%;
}
.Crops img{
    width: 90%;height: 20.4rem;
}
.cr-Sell{
    float: left;width: 50%;text-align: center;
}
.cr-Sell ul li i img{
    width: 2.5rem;height: 2rem;display: inline-block;
}
.cr-Sell ul{
    display: flex;flex-direction: column;justify-content: center;
}
.cr-Sell ul li span{
    display: flex;align-items: center;justify-content: center;flex-wrap: wrap;font-size: 1rem;
}
.cr-Sell ul li p{
    font-size: 1rem;transform: scale(.9);
}
.ct-Sports{
    background-image: url('../../img/jzx/payment_02.jpg');
    background-repeat: no-repeat;
    background-size: contain;height: 19rem;
    margin-top: 3rem;overflow: hidden;
}
.encourage{
    width: 17rem;background-color: rgba(0, 0, 0, .5);color: #fff;font-size: 1rem;
    transform: scale(.7);overflow: hidden;margin-left: -2rem;line-height: 1.5;
    margin-top: -2.5rem;padding: .5rem;
}
.dividend{
    width: 100%;height: 22rem;
}
.dividend .swiper-container{
    height: 22rem;position: relative;margin-top: 3rem;
}
.dividend .swiper-container .swiper-slide{
    width: 81.3% !important; height: 18rem;
}
.dividend .swiper-container img{
    width: 100%;height: 100%;
}
.dividend .swiper-container .swiper-slide p{
    position: absolute;top: 100%;width: 97%;height: 4rem;line-height: 4rem;
    background: #141414;font-size:1.2rem;color: #fff;padding-left: 3%;
}
.Ceremony{
    display: flex;flex-wrap: wrap;margin-top: 2rem;color: #fff;
}
.Ceremony ul{
    width: 100%; display: flex;flex-wrap: wrap;
}
.Ceremony ul li{
    width: 15rem;margin:0 0 1rem 0.5rem;position: relative;
}
.Ceremony ul li img{
    width: 100%;
}
.Ceremony div{
    position: absolute;top: 7%; left: 9%;
    width: 13rem;justify-content: center;display: flex;flex-wrap: wrap;
}
.Ceremony div em{
    font-size: 2.2rem;
}
.Ceremony div p{
    font-size: 0.6rem;
}
/*footer*/
.footer {
  width: 100%;
  padding-top: 0.8rem;
  background-color: #353535;
  color: #9d9d9d;
  font-size: 0.22rem;
  padding-bottom: 0.36rem;
}
.footer .footer1 {
  width: 98%;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.footer .footer1 .icon{
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer .footer1 .footericon {
  width:65%;
  display: flex;
  justify-content: space-between;
}
.footer .footer1 .footericon li{
  width: 50%;
  text-align: center;
  display: inline-block;
  margin-bottom: 0.15rem;
}
.footer .footer1 .footericon li p {
  margin-top: 0.15rem;
  padding-top: 1rem;
}
.footericon li img {
  display: inline-block;
  width: 8rem;
  height: 8rem;
}
.footer .p1 {
  text-align: center;
  margin-top: 0.25rem;
  padding: 1rem 0 1.8rem 0;
  line-height: 1.5;
}
.footer .p1 .lastp {
  margin-top: 0.06rem;
}
.footer .phone {
  width: 100%;
  background-color:#FFFFFF ;
  height: 1.3rem;;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.26rem;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: .7rem 0;
}
.footer .phone div {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.2rem;
}
.footer .phone img {
  display: block;
  width: 100%;
  height: 100%;
}
.footer .phone p {
  color: #676767;
}
.footer .phone span {
  color: #e50202;
}

.fixfooter {
  width: 100%;
  height: 0.98rem;
  background-color: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}
.fixfooter .fixer {
  display: flex;
  justify-content: center;
}
.fixfooter .fixer .button1 {
  display: flex;
  justify-content: center;
}
.fixfooter .fixer button {
  width: 3.38rem;
  height: 0.66rem;
  line-height: 0.66rem;
  margin-right: 0.14rem;
  font-size: 0.32rem;
  font-weight: bold ;
  line-height: 0.66rem;
  border:none;
  display: flex;
  justify-content: center;
  background-color: #e50202;
  /*background-color: #000;*/
  color: #fff;
  
  font-family: "pingfang";
}
.fixfooter .fixer button div {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  width: 0.4rem;
  height: 0.66rem;
}
.fixfooter .fixer button div img {
  width: 0.3rem;
  height: 0.3rem;
  display: block;   
  }
.mz{
  color: #333 !important;
}
.buto1{
  line-height: 0.66rem;
}