/*红色*/

/*背景颜色*/
.top{background: -webkit-gradient(linear, 0 0, 0 100%, from(#2F2F2F), to(#191919), color-stop(50%, #2F2F2F));}/*顶部背景颜色*/
.top-right li.now{ background-color:#1e1e1e; }/*顶部工具栏点击后变色*/
.seachbox input.submit{ background-color:#000; }/*顶部工具栏按钮颜色*/
nav.type1,nav.type2 ul,nav.type2 ul li,.index-product .ui-slider-dots b.ui-state-active{ background-color:#4c505c;}
nav.type1 ul li.navdown{ background-color:#ededed;}/*当前页面导航颜色*/
.style-1 h3.title{ background:-webkit-gradient(linear,0 0,0 100%,from(#333),to(#000));} /*首页区块标题背景*/

/*面板*/
#wrapper_nav,nav.panel,#wrapper_sidebar,#sidebar,#sidebar dl{ background-color:#333;}/*面板背景颜色*/
nav.panel h3.title,#sidebar h3.title{ background-color:#111;}/*面板标题背景颜色*/
nav.panel ul li,#sidebar dt,#sidebar dd{ border-color:#222; }/*面板底部边框颜色*/
.seachbox_box,.langlist,nav.type3{background: rgba(0,0,0,0.8)}
.seachbox_box i,.langlist i,nav.type3 i{border-color: transparent transparent rgba(0,0,0,0.8);}
#sidebar dt.on, #sidebar h4.on{background: #222;}/*更多分类当前页面的颜色*/
.sidebar .seachbox{background: rgba(30,30,30,0.8);}/*站内搜索背景*/
.sidebar .seachbox .submit{background:#333c45;}

/*底部固定功能*/
#footer .footerlist{border-top: 2px solid #464646; background: -webkit-gradient(linear, 0 0, 0 100%, from(#2F2F2F), to(#191919), color-stop(50%, #2F2F2F));}
#footer ul li{border-right: 1px solid #0e111a; border-left: 1px solid #666a73;}
.color-orange .info-nr-menu,.color-orange div{background-color:#2F2F2F;}/*底部弹出导航*/

/*边框颜色*/
nav.type2 ul li a,nav.type1 ul li{ border-color:#616676;}

/*会员中心*/
.metinfo_mobile_form li.radio span.name,.metinfo_mobile_form li.select span.name{ 
	background: #2f2f2f;
	border-color:#333;
}
#memberbox .member_login_more a{ color:#c00;}
#sitemaplist h2{background:#2f2f2f;}