/*绿色*/

/*背景颜色*/
.top{background: -webkit-gradient(linear, 0 0, 0 100%, from(#646464), to(#5a5a5a), color-stop(50%, #646464));}/*顶部背景颜色*/
.top-right li.now{ background-color:#4b4b4b; }/*顶部工具栏点击后变色*/
.seachbox input.submit{ background-color:#4b4b4b; }/*顶部工具栏按钮颜色*/
nav.type1,nav.type2 ul,nav.type2 ul li,.index-product .ui-slider-dots b.ui-state-active{ background-color:#707070;}
nav.type1 ul li.navdown{ background-color:#ededed;}/*当前页面导航颜色*/
.style-1 h3.title{ background:-webkit-gradient(linear,0 0,0 100%,from(#5a5a5a),to(#525252));} /*首页区块标题背景*/

/*面板*/
#wrapper_nav,nav.panel,#wrapper_sidebar,#sidebar,#sidebar dl{ background-color:#636363;}/*面板背景颜色*/
nav.panel h3.title,#sidebar h3.title{ background-color:#3d3d3d;}/*面板标题背景颜色*/
nav.panel ul li,#sidebar dt,#sidebar dd{ border-color:#3d3d3d; }/*面板底部边框颜色*/
.seachbox_box,.langlist,nav.type3{background: rgba(70,70,70,0.8)}/*头部导航下拉颜色*/
.seachbox_box i,.langlist i,nav.type3 i{border-color: transparent transparent rgba(70,70,70,0.8);}/*头部导航下拉颜色*/
#sidebar dt.on, #sidebar h4.on{background: #505050;}/*更多分类*/
.sidebar .seachbox{background: rgba(150,150,150,0.8);}/*站内搜索背景*/
.sidebar .seachbox .submit{background:#646464;}

/*底部固定功能*/
#footer .footerlist{border-top: 2px solid #787878; background: -webkit-gradient(linear, 0 0, 0 100%, from(#646464), to(#5a5a5a), color-stop(50%, #646464));}
#footer ul li{border-right: 1px solid #464646; border-left: 1px solid #969696;}
.color-orange .info-nr-menu,.color-orange div{background-color:#646464;}/*底部弹出导航*/

/*边框颜色*/
nav.type2 ul li a,nav.type1 ul li{ border-color:#666;}

.metinfo_mobile_form li.radio span.name,.metinfo_mobile_form li.select span.name{ 
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#646464), to(#5a5a5a), color-stop(50%, #646464));
	border-color:#5a5a5a;
}
#memberbox .member_login_more a{ color:#c00;}
#sitemaplist h2{background: -webkit-gradient(linear, 0 0, 0 100%, from(#909090), to(#707070));}