/*红色*/

/*背景颜色*/
.top{background: -webkit-gradient(linear, 0 0, 0 100%, from(#9c00bc), to(#75018d), color-stop(50%, #9c00bc));}/*顶部背景颜色*/
.top-right li.now{ background-color:#740078; }/*顶部工具栏点击后变色*/
.seachbox input.submit{ background-color:#740078; }/*顶部工具栏按钮颜色*/
nav.type1,nav.type2 ul,nav.type2 ul li,.index-product .ui-slider-dots b.ui-state-active{ background-color:#942ab7;}
nav.type1 ul li.navdown{ background-color:#ededed;}/*当前页面导航颜色*/
.style-1 h3.title{ background:-webkit-gradient(linear,0 0,0 100%,from(#9500b5),to(#8800a4));} /*首页区块标题背景*/

/*面板*/
#wrapper_nav,nav.panel,#wrapper_sidebar,#sidebar,#sidebar dl{ background-color:#844086;}/*面板背景颜色*/
nav.panel h3.title,#sidebar h3.title{ background-color:#5b1c5e;}/*面板标题背景颜色*/
nav.panel ul li,#sidebar dt,#sidebar dd{ border-color:#5b1c5e; }/*面板底部边框颜色*/
.seachbox_box,.langlist,nav.type3{background: rgba(156,0,188,0.8)}/*头部导航下拉颜色*/
.seachbox_box i,.langlist i,nav.type3 i{border-color: transparent transparent rgba(156,0,188,0.8);}/*头部导航下拉颜色*/
#sidebar dt.on, #sidebar h4.on{background: #6f3072;}/*更多分类*/
.sidebar .seachbox{background: rgba(202,89,220,0.8);}/*站内搜索背景*/
.sidebar .seachbox .submit{background:#9c00bc;}

/*底部固定功能*/
#footer .footerlist{border-top: 2px solid #c832ee; background: -webkit-gradient(linear, 0 0, 0 100%, from(#9c00bc), to(#75018d), color-stop(50%, #9c00bc));}
#footer ul li{border-right: 1px solid #7e009e; border-left: 1px solid #c832ee;}
.color-orange .info-nr-menu,.color-orange div{background-color:#9c00bc;}/*底部弹出导航*/

/*边框颜色*/
nav.type2 ul li a,nav.type1 ul li{ border-color:#8612ae;}

.metinfo_mobile_form li.radio span.name,.metinfo_mobile_form li.select span.name{ 
	background-image: linear-gradient(#ca59dc, #a130b3);
	border-color:#a130b3;
}
#memberbox .member_login_more a{ color:#8f00cc;}
#sitemaplist h2{background: -webkit-gradient(linear, 0 0, 0 100%, from(#ca59dc), to(#a130b3));}