@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	font-family:"微软雅黑";
	font-size:12px;box-sizing: border-box;
  	padding: 0;
  	margin: 0;
	padding:0px;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font: inherit;
	vertical-align: baseline;
}
@font-face {
	font-family: '方正兰亭超细黑简体';
	src: url('../font/fzlan.ttf')  format('truetype');
   }
input{
	border:0px;
	cursor: pointer;
}
.bankline{
	display: none;
	height: 5px;
	float: left;
	clear: both;
	margin: 0px auto;
    width: 100%;
    background-color: #5d5d5d;
}
.bakclor {
	float: left;
	clear: both;
	margin: 0px auto;
    width: 100%;
    /*background-color: #331d17;*/
    background-color: #2b1b0b;
}
.blackbgp{
	/*background: url(../img/blackbgp.jpg) no-repeat;*/
    background-color: #4c2103;
	margin: 0px auto;
	height: 596px;
	float: left;
	width: 100%;
}
.fcclor{
	float: left;
	clear: both;
	margin: 0px auto;
    width: 100%;
    background-color: #221e1b;
    font-family: "微软雅黑";
}
.fcfclor{
	float: left;
	clear: both;
	margin: 0px auto;
    width: 100%;
    height: 740px;
    /*background-color: #584b3c;*/
    background-color: #232323;
    font-family: "微软雅黑";
}
.f7clor{
	float: left;
	clear: both;
	margin: 0px auto;
    width: 100%;
    background-color: #232323;
    font-family: "微软雅黑";
}
.f77clor{
	float: left;
	clear: both;
	margin: 0px auto;
    width: 100%;
    /*background-color: #3d3d3d;*/
    background-color: #4c2103;
    font-family: "微软雅黑";
}
@media screen and (max-width:1280px){
	.bankline{
		display: none;
		float: left;
		clear: both;
		margin: 0px auto;
		background-color: #5d5d5d;
		height: 5px;
		width: 1280px;
	}
	.bakclor {
		float: left;
		clear: both;
		margin: 0px auto;
	    width: 1280px;
	    /*background-color: #331d17;*/
	    background-color: #2b1b0b;
		/*background-image: url("../pic/block_topbg.jpg");*/
	}
	.blackbgp{
		/*background: url(../img/blackbgp.jpg) no-repeat;*/
    	background-color: #4c2103;
		margin: 0px auto;
		height: 596px;
		float: left;
		width: 1280px;
	}
.fcclor{
		float: left;
		clear: both;
		margin: 0px auto;
	    width: 1280px;
	    height: 740px;
	     /*background-color: #584b3c;*/
    	background-color: #221e1b;
    font-family: "微软雅黑";
	}
	.fcfclor{
		float: left;
		clear: both;
		margin: 0px auto;
	    width: 1280px;
	    height: 740px;
	     /*background-color: #584b3c;*/
    	background-color: #232323;
	    font-family: "微软雅黑";
	}
	.f7clor{
		float: left;
		clear: both;
		margin: 0px auto;
	    width: 1280px;
	    background-color: #232323;
	    font-family: "微软雅黑";
	}
	.f77clor{
		float: left;
		clear: both;
		margin: 0px auto;
	    width: 1280px;
	    /*background-color: #3d3d3d;*/
    	background-color: #4c2103;
	    font-family: "微软雅黑";
	}
	.huisuobigpicbox {
	    width: 1280px !important;
	    z-index: 43;
	    /*height: 600px;*/
	    position: relative;
	    overflow: hidden;
	    /*background-image: url(../pic/cofeban.jpg no-repeat);*/
	}
	.firstbox{
		width: 1280px !important;
		height: 155px;
		background-color: #4e0202;
		margin: 0px auto;
		float: left;}
}

.fcclor ul{
	width: 1110px;
    height: 336px;
    margin: 0px auto;
    padding-top: 76px;
}
.fcclor ul li{transition:.6s all;
	padding-top: 27px;
	width: 181px;
	height: 260px;
	/*border: 2px solid #fff;*/
	float: left;
	list-style: none;
}
.fcclor ul li span{
	letter-spacing: 1px;
	font-size: 16px;
	display: block;
	width: 100%;
	height: 55px;
	line-height: 55px;
	color: #ad4b51;
	text-align: center;
	font-weight: bold;
	font-variant:normal;
}
.fcclor ul li p{
	text-align: center;
	color: #b4b3b3;
	font-size: 12px;

}
.fcclor ul li:hover{
	/*background-color: #ccc;*/
	/*border: 2px solid #860002;*/
}
.fcclor ul li:hover{/*transform:rotate(360deg)*/
background-color: #000;transform: scale(1.1);}
.secdboxcont{
	margin: 0px auto;
	width: 117px;
	height: 117px;
	border-radius: 5px;
	border: 2px solid #d8d5d5;
	padding-top: 22px;
	padding-left: 18px;
}
.secdboxcont img{
	display: inline-block; height: auto; max-height: 100%;max-width: 100%;vertical-align: middle; width: auto;
}
.sogen{
	letter-spacing: 2px;
	font-family: "幼圆";
	font-size: 33px;
	display: block;
	width: 100%;
	height: 147px;
	line-height: 147px;
	text-align: center;
	color: #484746;	
	font-variant:normal;
}
.sogen span{
	color: #823335;
}
.knowbtnbox{
	width: 100%;
	height: 100px;
	text-align: center;
}
.knowbtnbox input{
	width: 365px;
	height: 53px;
	/*background-color: #b51e20;*/
	background-color: #4c2103;
	color: #bdbdbd;
	font-size: 24px;
	font-family: "微软雅黑";
	border-radius: 5px;
	letter-spacing: 3px;
	cursor: pointer;
}
.knowbtnbox input:hover{
	
}
.thidboxcont{
	width: 1206px;
	height: 555px;
	margin: 0px auto;
	display: block;
	margin-top: 43px;
	margin-bottom: 70px;
	background: url(../img/box3bgp.png) no-repeat;

}
.thidlftbox{
	width: 620px;
	height: 450px;
	float: left;
	z-index: 0;
	background-color: #000;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.thidlftbox span{
	transition:2s all;
    font-size: 24px;
    font-family: "微软雅黑";
    display: block;
    letter-spacing: 5px;
    text-align: center;
    z-index: 2;
    top: 347px;
    left: 196px;
    position: absolute;
    color: #d6d0d0;
}
/*.thidlftbox img:hover{
		transform: scale(1.1); 
}*/
.thidlftbox img{
	transition: all 0.8s;
	position: absolute;
	width: 100%;top: 0px;left: 0px;
	/*opacity: 0.3;
	-webkit-opacity: 0.3; 
	-moz-opacity: 0.3; 
	-khtml-opacity: 0.3;
	filter:alpha(opacity=30); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);*/
}
.thidrgtbox{
	padding-top: 200px;
	width: 572px;
	height: 650px;
	float: left;
	z-index: 1;
	/*background-color:rgba(0,0,0, .5);*/
}
.swiphide{
	display: none;
}
.thrgtup{
	margin: 0px auto;
	clear: both;
	overflow: hidden;
	width: 380px;
	height: 270px;
	padding-bottom: 70px;
}
.thrgbtnbox{
	padding-top: 145px;
	float: left;
	display: block;
	width: 21px;
	height: 270px;
	cursor: pointer;
}
.thrgbtnbox img{
	float: left;
}
.updbebox{
	width: 335px;
	height: 270px;
	padding-bottom: 70px;
	float: left;
}
.updbebox ul{
	list-style: none;
	display: block;
	width: 335px;
	height: 200px;
	padding-left: 82px;
	color: #BDBDBD;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 28px;
	cursor: default;
}
.updbebox ul li{
	cursor: default;
}
.updbebox span{
	position:absolute;
	margin-top:-50px;
	display:block;
	width:400px;
	padding-left:82px;
	color:#BDBDBD;
	font-size:34px;
	letter-spacing:1px;
	line-height:28px;
	cursor:default;
}
.thrgtdown{
	margin: 0px auto;
	width: 505px;
	font-family: "宋体";
	color: #928989;
	line-height: 20px;
	font-size: 14px;
	text-indent: 2em;
	letter-spacing: 2px;
}
.clsplay{
	display: none;
}
.huisuobigpicbox{	
	width: 100%;
    z-index: 43;
    height: 800px;
    /*float: left;*/
    position: relative;
    background: url(../huis/hsbanner_01.jpg),url(../huis/hsbanner_02.jpg),url(../huis/hsbanner_03.jpg),url(../huis/hsbanner_04.jpg),url(../huis/hsbanner_05.jpg),url(../huis/hsbanner_06.jpg),url(../huis/hsbanner_07.jpg);
    background-position: center 0,center 110px,center 201px,center 314px,center 426px,center 554px,center 671px,center 800px;
	overflow: hidden;
	background-repeat: no-repeat;
}
.banner_area{
	position: relative;
	width:1200px;
	margin:0 auto;
	height:386px;
	text-align: center;
	text-indent:76px;
	padding-top: 180px;
	box-sizing: border-box;
}
.banner_globel{
	width: 966px;
	height: 412px;
	margin:0 auto;
	padding-top:58px;
	position: relative;
	box-sizing: border-box;
	background:url('../huis/banner_globel.png');
}
.banner_globel .bg_top{
	width: 792px;
	height: 189px;
	margin:0 auto;
	position: relative;
	top: -30px;
	background: url('../huis/bg_top.png');
}
.banner_globel .bg_center{
	width:1110px;
	height:20px;
	position: absolute;
	top:314px;
	left: -68px;
	background: url('../huis/bg_center.png') no-repeat;
}
.banner_globel .bg_bottom{
	color: #cf8101;
	margin: 0 auto;
	margin-left: -80px;
    position: relative;
    top: 118px;
    font-size: 20px;
    font-weight: 600;

    letter-spacing: 1px;
}
.banner_button{
	width: 334px;
	height:60px;
	margin: 0 auto;
	background: #fff;
	position: relative;
	top: 0;
	border-radius: 10px;
	cursor: pointer;
	padding-top: 18px;
}
.banner_button .b_button{
	width:217px;
	height:26px;
	margin:0 auto;
	background: url('../huis/b_button.png') no-repeat;
}
.banner_button,.bg_bottom,.bg_center,.bg_top{
	opacity: 0;
}

#focus{
	margin:0px auto;
	width:100%;
	height:600px;
	position:relative;
	overflow:hidden;
	z-index: 2;
	}
#focus ul {
	height: 607px;
	width: 500%;
}
#focus ul li{
	width: 20%;
	height: 700px;
}
#focus ul li img{
	width: 100%;
	height: 600px;
	}

#focus ul{height:700px;position:absolute;}
#focus ul li{float:left;height:700px;overflow:hidden;position:relative;background:#000;}
/*所有按钮*/
#focus .btn{ float:left;width:77px;height:370px;padding:5px 10px;right:0;text-align:right; padding-top:80px; border: 3px solid red; }
.firstbox{
	width: 100%;
	height: 60px;
	/*background-color: #330505;*/
	background-color: #4e0202;
	margin: 0px auto;
	float: left;
}
.firstbox ul{
	width: 1100px;
	margin: 0px auto;
	clear: both;
	height: 125px;
	list-style: none;
}
.firstbox ul li{
	padding-top: 5px;
	padding-right: 25px;
	padding-left: 25px;
	width: 275px;
	height: 155px;font-family: "微软雅黑";
	float: left;

}
.firstbox ul li img{
	/*display: block;*/
	display: none;
	text-align: center;
	width: 35px;
	height: 35px;
	margin: 10px auto;
}
.firstbox ul li span{
	color: #c5c5c5;
	font-size: 22px;
	font-weight:500;
	font-family: "黑体";
	text-align: center;
	display: block;
	height: 30px;
	line-height: 47px;
}
.firstbox ul li span:hover{
	/*font-weight: bold;*/
	color: #b91616;
}
.firstbox ul li p{
	text-align: center;
	font-size: 12px;
	color: #cacaca	;
	/*display: block;*/
	display: none;
	line-height: 14px;
	width: 140px;
	margin: 0px auto;
}

 
 
 
 
 
.iptline{
	width: 100%;
	margin: 20px auto;
	text-align: center;;
	height: 40px;
}
.iptitle{
	font-size: 19px;
    width: 92px;
    font-family: "微软雅黑";
    float: left;
    line-height: 39px;
    letter-spacing: 2px;
}
.iptline input{
	/*border: 1px solid #505050;*/
    /*background: rgba(99, 99, 99, 0.59);*/
    background-color: #fbfbfb;
    color: #676767;
    height: 40px;
    float: right;
    cursor: text;
    width: 240px;
    border-radius: 4px;
    text-indent: 0.5em;
    font-size: 14px;
}


.haiantxt{
	/*font-weight: 600;*/
	/*display: none;*/
	margin:-600px auto;
	padding-top: 217px;
	z-index:3;
	height: 600px;
	color: #f2dacd;
	font-family: "黑体";
	width: 100%;position:absolute;
	letter-spacing: 4px;
}
.top1{
	font-size:37px;
    margin: 0px auto;
   /*navajowhite;*/
    height: 40px;
    clear: both;
    width: 500px;
    display: block;
    text-align: center;
}
.top2{
	font-size: 72px;
    margin: 6px auto;
    clear: both;
    height: 70px;
    width: 600px;
    font-family: inherit;
    display: block;
    text-align: center;
    vertical-align: baseline;
}
.hotnumber{
	color: #f2dacd;
    margin: 0px auto;
    height: 40px;
    font-size: 28px;
    line-height: 59px;
    width: 500px;
    display: block;
    text-align: center;
}
.smallred{
	color: #fb1616;
}
.redhr{
	border:1px solid #4c1112;
	width: 100%;
}

.sousuobox{
	height:60px;
	width:1220px;
	margin:0px auto;
	z-index:3;
	background-color:rgba(0,0,0,0.5);
	margin-top:-60px;
	position:absolute;}
.sousuomain{
	margin:10px auto;
	width:470px;
	height:40px;
	opacity:0.8;
	-webkit-opacity: .8;
	-moz-opacity: .8;
	-khtml-opacity: .8;
	filter:alpha(opacity=80);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);}
.sousuomain input{
	width:380px;
	height:40px; 
	border:0px;
	float:left;
    font-size:14px; 
    text-indent:3em;
    background-color:#6b6b6b;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background-image:url(../img/magnifier.png); 
    background-size:7%;
    background-repeat:no-repeat;
    background-position:8px center; 
    color:white;
    border: 0px;
}
.searchbox{
	 border-top-right-radius:5px;
	 border-bottom-right-radius:5px;
	 float:left;
	height:40px;
	width:89px;
	background-color:#6b6b6b;
	font-size:24px;
	font-family:'幼圆';
	color:white;
	text-align:center;
	line-height:40px;
	border-left:1px solid #474747;
	cursor:pointer;
	}
/*搜索完*/
	.nowjingdian{
	height:600px;
	width:1220px;
	overflow: hidden;
	margin:0px auto;
	}
.nownongjiay{
	height:450px;
	width:1220px;}
.nowjd_title{
	float:left;
	height:29px;
	line-height:24px;
	text-indent:1em;
	width:1220px;
	font-size:24px;
	color:#d20f0a;
	padding-bottom:-10px;
	font-family:"幼圆";
	font-weight:bold;
	}
.nowjd_titlergt{
	cursor:pointer;
	text-align: center;
	float:right;
	width:150px;
	color:#909090;
	font-size:16px;
	opacity: .5;
	transition: 0.5s all;
    }
.nowjd_titlergt:hover{
	opacity: 1;
	color: #e8e8e8;
}
.nowjd_titlergt img{
	padding-top:2px;
	padding-right:10px;}
.main{
	width:1220px;
	margin:0px auto;
	height:1850px;}
.main_lft{
	width:1220px;
	height: 465px;
	float:left;}
.nowjd_picbox{
	height:340px;
	width:870px;
	float:left;
	list-style:none;
	}
.nowjd_picbox li{
	float:left;
	background-size:cover;
	margin-right:4px;
	margin-top:4px;
	height:163px;
	}
.lunbo{
	width:1219px;
	height:394px;
	float:left;
	margin:0px auto;
	padding-top:10px;
	}
.lunbo img{
	width:1219px;
	height:394px;}
/*轮播*/
.lunbo{width:1219px;height:394px;overflow:hidden;position:relative;}
.lunbo ul{height:250px;position:absolute;}
.lunbo ul li{float:left;width:1219px;height:394px;overflow:hidden;position:relative;background:#000;}
.lunbo ul li div{position:absolute;overflow:hidden;}
.lunbo .btnBg{position:absolute;width:1219px;height:34px;left:0;bottom:0;background:#000;}
.lunbo .btn{position:absolute;width:730px;height:20px;padding:5px 10px;left:0;bottom:0;text-align:right;}
.lunbo .btn span{display:inline-block;_display:inline;_zoom:1;width:55px;height:17px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;}
.lunbo .btn span.on{background:#fff;}
.lunbo .pre{left:0;}
.lunbo .next{right:0;background-position:right top;}
	
	
	
	
	
.xxcenter{
	width:1250px;
	height:425px;
	float:left;
	padding-top:5px;}
#xxc2{
	display:none;}
#xxc3{
	display:none;}
.xxcenter ul{
	list-style:none;
	}
.xxcenter ul li{width:300px; height:200px;float:left; margin-right:4px;margin-left:4px;margin-top: 10px;
	background-size:cover !important; border-radius: 1px;
	position:relative;
	overflow:hidden;}
/*猜你喜欢*/
.xxcenter ul li .txt{ width:100%;height:30px;background:#000;opacity:.9; 
	-webkit-opacity: 0.9;
	-moz-opacity: 0.9; 
	-khtml-opacity: 0.9;
	filter:alpha(opacity=90); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);position:absolute;left:0px;bottom:0px;padding:0 12px;/*border-top:2px solid #90b9d2;*/}
.xxcenter ul li .txt h3{line-height: 28px; color:#c3c3c3;font-size:18px;font-weight:300;max-resolution: 3px;px 0 6px 0;}
.xxcenter ul li h4{color:#fff;font-size:12px;font-weight:100; margin-top:15px; line-height:20px;}
.xxcenter ul li .txt p{ width:95%;color:#fff;margin-top:20px;padding-top:12px;border-top:1px solid #90b9d2; line-height:20px;}
#xxcenter_li{width:600px; height:200px;float:left; margin-right:8px;margin-left:8px;margin-top: 10px;
	background-size:cover !important;
	position:relative;
	overflow:hidden;

}
.lunbo{
	width:866px;
	height:250px;
	float:left;
	margin:0px;
	padding-top:10px;
	}
.lunbo img{
	width:866px;
	height:250px;}
/*轮播*/
.lunbo{width:866px;height:250px;overflow:hidden;position:relative;}
.lunbo ul{height:250px;position:absolute;}
.lunbo ul li{float:left;width:866px;height:250px;overflow:hidden;position:relative;background:#000;}
.lunbo ul li div{position:absolute;overflow:hidden;}
.lunbo .btnBg{position:absolute;width:866px;height:34px;left:0;bottom:0;background:#000;}
.lunbo .btn{position:absolute;width:585px;height:20px;padding:5px 10px;left:0;bottom:0;text-align:right;}
.lunbo .btn span{display:inline-block;_display:inline;_zoom:1;width:55px;height:17px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;}
.lunbo .btn span.on{background:#fff;}
.lunbo .pre{left:0;}
.lunbo .next{right:0;background-position:right top;}



.boxtitle{
	clear: both;
	padding-top: 60px;
	margin:0px auto;
	line-height: 36px;
	/*vertical-align: baseline;*/
	width: 464px;
	height: 134px;
	text-align: center;
}
.boxtitle{
	    color: #000;
}
.boxtitle h1{
	font-size: 48px;
    width: 486px;
    height: 48px;
    text-align: center;
    letter-spacing: 6px;
    color:#c1c1c1;
    font-family: "方正兰亭超细黑简体";
    font-weight: bold;
}
.boxtitle>.msgTwo{
	color:#a35e23;
}
.boxtitle>.msgThr{
	color:#b92e36;
}
.boxtitle>.msgfour{
	color:#c52f36;
}
.boxtitle>.msgOne{
	color:#e2af8a;
}
.boxtitle>.msgfif{
	color:#b57c53;
}
#title1img{
	width: 463px;
	height: 74px;
}
#title2img{
	width: 385px;
	height: 72px;
}
#title3img{
	width: 389px;
	height: 74px;
}
#title4img{
	width: 385px;
	height: 72px;
}
#title5img{
	width: 294px;
	height: 74px;
}
.boxtitle a span {
	display: block;
    clear: both;
    overflow: hidden;
    font-size: 51px;
    line-height: 51px;
    height: 51px;
    width: 390px;
    letter-spacing:2px;
    margin: 0px auto;
    text-align: center;
	font-weight: bolder;
}
.boxtitle a span:hover{
	color:#c50909; 
	/*border-top: #c50909 solid 1px;*/
}
.boxtitle a p{
	display: block;
    clear: both;
    overflow: hidden; margin: 0px auto;
    text-align: center;
	/*font-weight: bolder;*/
}
.boxtitle a img{
	margin: 0px auto;
}
fieldset {
	line-height: 80px;
	height: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:510px;
    margin: 10px auto;
    color: #fff;
    border-top: #aeaeae solid 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: center;

}
legend {
	line-height:70px;
    color: #fff;
    width: 300px;
    letter-spacing: 5px;
    font: inherit;
	vertical-align: baseline;
	font-family: "微软雅黑";
    font-weight:bold;
    font-size: 35px;/*
    background: #eeeeee;*/
}
.titleline {
    margin: 0px auto;
    line-height: 18px;
	text-align: center;
	height: 18px;
	font-size: 12px;
	width: 200px;
	letter-spacing: 10px;
	color: #ffffff;
	border-radius: 5px;
	vertical-align: baseline;
	background-color: #b6221e;
	font-family: "微软雅黑";
}
	




.p1{font-family:'幼圆'; padding-left:270px; font-size:20px;}
.p2{font-size:14px; color:#424141; width:762px;line-height:25px;text-indent:2;}
.p3{font-size:14px; color:#424141; width:762px; padding-top:10px; line-height:25px;}
.p4{font-size:14px; color:#424141; width:762px; padding-top:10px; line-height:25px;text-indent:2;}


/*悬浮广告*/
.conent{width:90px;height:120px;position:absolute;top:20px; z-index:10;}
		.conent .sition{width:90px;height:120px;position:relative;}
		.conent .sition .c_header{width:90px;text-align:center;cursor:move;;}
		.conent .sition .c_header .txts{ width:100px; height:50px;color:#023471;
										font-size:15px; 
										line-height:30px;box-shadow:1px 1px 1px 1px #000;
										text-shadow:1px 1px 1px #000; background-color:white;}
		.conent .sition .c_adver{width:90px;height:90px;background:url("img/back.gif") no-repeat;cursor:pointer;}

		.conent .sition .sign{width:0px;height:10px;border:2px solid #000;display:block;position:absolute;top:27px;left:46px;}
		/*end conent*/
		/*data start*/
		.data{width:260px;height:130px;margin:255px auto;color:#036;}
		.data p{line-height:20px;}
		.data p .high{color:red;}
		.data p .dispaly{color:#00F;}

/*表单*/
.biaodanbox{
	width: 1280px;
	margin: 10px auto;
	height: 310px;
	clear: both;
}
.customerlogobox{
	padding-top: 40px;
    width: 100%;
    margin: 0px auto;
    height: 325px;
}
.customerlogobox h3{
	text-align: center;
	font-weight: bold;
}
.customerlogobox ul{
	margin: 0px auto;
	list-style: none;
	width: 1200px;
	height: 255px;
	opacity: .9;
	-webkit-opacity: .9;
	-moz-opacity: .9;
	-khtml-opacity: .9;
	filter:alpha(opacity=90);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	
}
.customerlogobox ul li{
	float: left;
	margin: 15px 5px auto 4px;
	width: 191px;
	height: 115px;
	background-color: rgba(255,255,255, .7);
	/*border: 1px solid #2d2d2d;/*黑色*/*/
	border: 1px solid #E9E6E6;
}
.customerlogobox ul li img{
	width: 100%;
	height: 100%;
}
.customslogn{
	margin: 0px auto;
	text-align: center;
	height: 112px;
	width: 100%;
	line-height: 110px;
	font-size: 22px;
	letter-spacing: 1px;
	color: #a2a2a2;
}
.customslogn span{
	color: #a34646;
	font-size: 30px;
}
/*服务部分*/
.service{
	width: 100%;
    background: rgba(214, 214, 214, .5);
    height: 600px;
    overflow: hidden;
}
/*了解海岸*/
.anconbox{
	margin: 0px auto;
	height: 446px;
	width: 1210px;
	padding-top: 56px;
}
.f7imgbox{
	float: left;
	width: 602px;
	height: 335px;
	overflow: hidden;
}
.f7imgbox img{
	width: 100%;
	margin: 0px auto;
}
.f7txtsbox{
	float: right;
	width: 590px;
	height: 335px;
	overflow: hidden;
}
.f7txtline{
	width: 588px;
	height: 99px;
	background-color: #ededed;
	margin-bottom: 20px;
	position: relative;
}
.mo1{ 
	width: 588px;
	text-align: center;
	height: 99px;
	line-height: 99px;
	color: #8e7374;
	font-size: 25px;
	letter-spacing: 2px;
	cursor: pointer;
	z-index: 3;
	position: absolute;
}
.mo1:hover{
	transition: 0.7s all;
	opacity: 0; 
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	filter:alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	 }
.mo2{ 
	text-indent: 2em;
	width: 588px;
	z-index: 1;
	height: 99px;
	padding: 20px 20px;
	line-height: 20px;
	color: #8e7374;
	font-size: 12px;
	letter-spacing: 2px;
	cursor: pointer;
	position: absolute;
	background: rgba(247, 247, 247, 0.32);
}


/*----------下面是底部------------*/
img{
	border:0px;
	background-repeat:no-repeat;
	}
li{
	cursor:pointer;}
.faer_top{
	width: 100%;
	z-index: 4;
	height: 60px;
	position: fixed;
	box-shadow: 0 0 4px 2px #272727;
    background-color: #211e1b;}
.fixednav{
	letter-spacing: 1px;
	width:1220px;
	height:51px;font-family: "微软雅黑";
	margin:0px auto;
}
.fixednav img{
	display: block;
	width:180px;
	height:23px;
	float:left;
	margin-top: 18px;
	/*padding-top:21px;*/
	padding-left:0px;}
.fixednav ul{
	
	width: 780px;
    height: 57px;
    float: left;
    margin-left: 68px;
    list-style: none;
	}
.fixednav ul li{
	cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 60px;
    width: 80px;
    margin-right: 28px;
    color: #9a5050;
    height: 60px;
    text-align: center;
	}
.nav{float:right;}
.nav li:hover{
	color:#b6221e;
	font: 16px;
	-webkit-transition: all ease-in-out .3s;
	-moz-transition: all ease-in-out .3s;
	-ms-transition: all ease-in-out .3s;
	transition: all ease-in-out .3s;
	}
.navblue{
	color: #b98180 !important;
    font: 18px !important;
    border-top: 1px solid;
    line-height: 58px !important;
	}
.navphone{
	float: left;
	background: url(../img/redphonelogo.png) no-repeat 0px 20px;
	height: 60px;
	padding-left: 20px;
	line-height: 60px;
	width: 160px;
	color: #8a4240;
	font-size: 19px;
	letter-spacing: 0px;
}
a:link { 
     color:inherit;
text-decoration: none; 
} 
a:visited { 
 color:inherit;
text-decoration: none; 
} 
a:hover { 
 color:inherit;
text-decoration: none; 
} 
a:active { 
 color:inherit;
text-decoration: none; 
} 
strong{font-weight:400}
.strong{font-weight:700}
::selection{background:#1EACDF;color:#000}
img{border:0}
.auto{margin:0 auto;min-width:1px;max-width:1200px;}
.clear-float{clear:both}
.footer{background:rgb(0, 0, 0);font-family:"Microsoft Yahei";width: 100%;clear: both;bottom: 0px;}
.footer-floor1{width:100%;padding:36px 0 20px}
.footer-list{width: 700px;height:100%;float:right;padding-left: 40px;}
.footer-list_tijaotabe{
	margin: 0px auto;
	height: 150px;
	width: 540px;}
.footer-list .flist-title{font-size:16px;color:#000;margin-bottom:15px}
.footer-list_tijaotabe span{
    margin-bottom: 19px;
    font-size: 26px;
    letter-spacing: 1px;
    float: left;
    text-align: right;
    color: #959494;
    display: block;
    width: 100%;}
.footer-right{width:300px;float:left;display:block;margin-left: 20px;}
.telephone{width:100%;height:32px;line-height:32px;color:#fafafa;display: none;}
.telephone span{display:inline-block;width:32px;height:32px;float:left;background:url(../images/phone_32px.png);margin-left:16%}
.telephone .tel-number{font-size:30px;font-weight:400;text-align:right}
.official-plat{width:100%;height:100%;margin-top:5px;position:relative}
.official-plat ul{float:right;margin-top:7px}
.official-plat ul li span{display:inline-block;width:32px;height:32px;background:url(../images/plat_icon.png) no-repeat 0 0;line-height:32px;float:left;margin-right:12px}
.official-plat ul li .weibo-logo{background:url(../images/plat_icon.png) no-repeat -32px 0}
.official-plat ul li .qq-logo{background:url(../images/plat_icon.png) no-repeat -64px 0}
.official-plat ul li{height:45px}
.official-plat ul a{display:inline-block;height:32px;width:100%;line-height:32px;color:#e8e8e8;text-decoration:none;font-size:12px}
.official-plat>p{display:inline-block;width:132px;height:132px;border:1px solid #ddd;/*background-color:#000*/}
.official-plat .weixin{position:absolute;top:0;left:10px;background-image:url(../img/erweima.png);background-repeat:no-repeat;background-position:0 0}
.official-plat .weibo{position:absolute;top:0;left:10px;background-image:url(../img/erweima.png);background-repeat:no-repeat;background-position:-132px 0;}
#wx-corner{display:none;border:10px solid transparent;border-left:10px solid #000;position:absolute;top:12px;right:-20px;z-index:10}
#wb-corner{display:none;border:10px solid transparent;border-left:10px solid #000;position:absolute;top:58px;right:-20px;z-index:10}
.marquee-box{overflow:hidden;width:100%;position:absolute;left:0;top:0}
.marquee{width:80%;height:60px}
.footer_iptline{
	height: 50px;
    width: 305px;
    float: left;
    color: #fafafa;
    font-size: 21px;
}
.iptitle{
	font-size: 19px;
    width: 92px;
    float: left;
    line-height: 39px;
    letter-spacing: 2px;
}
.footer_iptline input{
	height: 35px;
    margin: 0px auto;
    text-indent: 1em;
    border-radius: 1px;
    width: 300px;
    font-size: 15px;
    background-color: #fafafa;
}
.footer_intbtn input{
	width: 200px;
    margin-top: -50px;
    float: right;
    /* margin-left: 10%; */
    border: 0px;
    background-color: #65090a;
    height: 81px;
    color: #c3b4b4;
    font-size: 22px;
    letter-spacing: 1px;

    border-radius: 1px;
}
input{outline: none;}
.intbtn input{
	width: 90%;

    float: left;
    margin-left: 5%;
    border: 0px;
    height: 32px;
    margin-top: 5px;
    line-height: 32px;
    color: #e0dada;
    background-color: #9f2024;
    letter-spacing: 3px;
    font-size: 18px;
    border-radius: 2px;
}
.intbtn input:hover{
	color: #fff;
}
.linkbox{
	margin: 0px auto;
	clear: both;
	width: 87%;
	height: 50px;
}
.linkbox span{
	cursor: pointer;
	line-height: 46px;
	font-size: 18px;
	float: left;
	padding-left: 60px;
	display: block;
	color: #272727;
	width: 50%;
}
.linkbox span:hover{
	/*font-weight: 600;*/
	color: #9f2024;
}
.dowmiftion{
	margin: 0px auto;
    height: 77px;
    padding-top: 20px;
    width: 1210px;
    border-top: 1px solid #262626;
    background-color: #000;
    color: #afafaf;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    padding-top: 15px;
}
.dowmiftion p{
    font-size: 6px;
}

/*3Dbox*/
.container ul li {
  -webkit-perspective: 800px;
          perspective: 800px;
}
.info {
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
          transform: rotate3d(1, 0, 0, 90deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  pointer-events: none;
  background-color: #732222;
} 

.in-top .info {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: in-top 300ms ease 0ms 1 forwards;
          animation: in-top 300ms ease 0ms 1 forwards;
}

.in-right .info {
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-animation: in-right 300ms ease 0ms 1 forwards;
          animation: in-right 300ms ease 0ms 1 forwards;
}

.in-bottom .info {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
          animation: in-bottom 300ms ease 0ms 1 forwards;
}

.in-left .info {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation: in-left 300ms ease 0ms 1 forwards;
          animation: in-left 300ms ease 0ms 1 forwards;
}

.out-top .info {
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: out-top 300ms ease 0ms 1 forwards;
          animation: out-top 300ms ease 0ms 1 forwards;
}

.out-right .info {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-animation: out-right 300ms ease 0ms 1 forwards;
          animation: out-right 300ms ease 0ms 1 forwards;
}

.out-bottom .info {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
          animation: out-bottom 300ms ease 0ms 1 forwards;
}

.out-left .info {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation: out-left 300ms ease 0ms 1 forwards;
          animation: out-left 300ms ease 0ms 1 forwards;
}

@-webkit-keyframes in-top {
  from {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
            transform: rotate3d(-1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes in-top {
  from {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
            transform: rotate3d(-1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
@-webkit-keyframes in-right {
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
            transform: rotate3d(0, -1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-right {
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
            transform: rotate3d(0, -1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
@-webkit-keyframes in-bottom {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-bottom {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
@-webkit-keyframes in-left {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
            transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes in-left {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
            transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
}
@-webkit-keyframes out-top {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(-1, 0, 0, 104deg);
            transform: rotate3d(-1, 0, 0, 104deg);
  }
}
@keyframes out-top {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(-1, 0, 0, 104deg);
            transform: rotate3d(-1, 0, 0, 104deg);
  }
}
@-webkit-keyframes out-right {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, -1, 0, 104deg);
            transform: rotate3d(0, -1, 0, 104deg);
  }
}
@keyframes out-right {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, -1, 0, 104deg);
            transform: rotate3d(0, -1, 0, 104deg);
  }
}
@-webkit-keyframes out-bottom {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 104deg);
            transform: rotate3d(1, 0, 0, 104deg);
  }
}
@keyframes out-bottom {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 104deg);
            transform: rotate3d(1, 0, 0, 104deg);
  }
}
@-webkit-keyframes out-left {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 104deg);
            transform: rotate3d(0, 1, 0, 104deg);
  }
}
@keyframes out-left {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 104deg);
            transform: rotate3d(0, 1, 0, 104deg);
  }
}
/* you can ignore this ones */
.container {
	position: relative;
  clear: both;
  /*border: 1px solid red;*/
  height: 445px;
  width: 1200px;
  padding-top: 10px;
  margin: 61px auto;
}
.boxbtn{
  cursor: pointer;
  padding-top: 195px;
  display: block;
  height: 430px;
  width: 48px;
}
#boxbtnl{
  float: left;
}

#boxbtnr{
  float: right;
}
.cntarbox{
	position: absolute;
	left: 37px;
	margin: 0;
	width: 1104px;
	height: 430px;
	overflow: hidden;
}
.cntarbox ul {
  display: block;
  width: 1104px;
  height: 430px;
  padding: 0;
  float: left;
}
.cntarbox ul:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}
#mainlist{
	
}
.transleft{
	transform:translate(-1104px, 0);
	-webkit-transform:translate(-1104px, 0);
	-moz-transform:translate(-1104px, 0);
}
.transrgt{
	transform:translate(2208px, 0);
	-webkit-transform:translate(2208px, 0);
	-moz-transform:translate(2208px, 0);
}
.cntarbox ul li {
  position: relative;
  float: left;
  width: 246px;
  height: 201px;
  margin: 0px;
  margin-right: 14px;
  margin-left: 14px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  margin-bottom: 38px;

}
.cntarbox ul li a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border-radius: 4px;
  /*background-color: #4c2103;*/
}
.cntarbox ul li h3 {
  margin: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}
.cntarbox ul li p {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
.cntarbox ul li .normal {
  width: 100%;
  height: 100%;
  background-color: #ECF0F1;
  box-shadow: inset 0 2px 20px #e6ebed;
  text-align: center;
  font-size: 50px;
  line-height: 400px;
  overflow: hidden;;
}
.cntarbox ul li a img{
  width: 100%;
  float: left;
  height: 100%;
}
/*右侧固定框*/
ul,ol {
  list-style:none
}
a {
  text-decoration:none
}
a:hover {
  text-decoration:none;
}
#moquu_top,#moquu_wxin,#moquu_wshare {
  z-index:2;
  width:30px;
  height:30px;
  right:10px;
  position:fixed;
  cursor:pointer;
  _position:absolute;
  _bottom:auto;
  _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))
}

#moquu_wxin { bottom:240px; right:10px;
}
#moquu_wxin a {
  background:url(../images/sbtn.png) 0 0px;
  right:0;
  float:left;
  width:30px;
  height:30px;
  text-indent:-9999px
}
#moquu_wxin a:hover {
  background:url(../images/sbtn.png) -30px -0px
}
#moquu_wshare {bottom:210px; right:10px;
}
#moquu_wshare a {
  background:url(../images/sbtn.png) 0 -30px;
  width:30px;
  height:30px;
  right:0;
  float:left;
  text-indent:-9999px
}
#moquu_wshare a:hover {
  background:url(../images/sbtn.png) -30px -30px
}

.moquu_wxin,.moquu_wshare {
  position:relative;
  z-index:2
}
.moquu_wxin a:hover .moquu_wxinh,.moquu_wshare a:hover .moquu_wshareh {
  display:block
}
.moquu_wxin .moquu_wxinh {
  position:absolute;
  display:none;
  right:30px;
  bottom:0px;
  width:70px;
  height:30px;
  background:url(../images/fankui.png) 0 0 no-repeat #ff6060;
  color:#FFF; border-radius:4px 0 0 4px;
}
.moquu_wshare .moquu_wshareh {
  position:absolute;
  display:none;
  right:36px;
  bottom:-85px;
  width:100px;
  height:120px;
  background:url(../images/weixin.png) no-repeat
}

.boxbig{
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 200;
        height: 100%;
        background: rgba(0,0,0,0.7);
        display: none;
    }
.box1{
    margin: 0px auto;
    font-family: "微软雅黑";
    /*width: 355px;
    height: 400px;*/
    width:320px;
    position: fixed;
    left: 50%; top: 25%;
    margin-left: -187.5px;
    padding-top: 17px;
    background: #fff;
    /*letter-spacing: 1px;*/
}


.close{
	/*margin-top: 15px;*/
	float: right;
	padding-left: 1px;
	margin-right: 15px;
	display: block;
    width: 24px;
    height: 24px;
    font-family: "微软雅黑";
    background: rgba(255,255,255, .15);
    border-radius: 12px;
    line-height: 20px;/*padding-top: 2px;*/
    font-size: 22px;
    transition:.5s all;
    text-align: center;
    color: #fff;
}
.close:hover{
	background: rgba(0,0,0, .15);
	color: #000;
	transform:rotate(180deg);
}
.iptbox{
	/*width: 75%;
	height: 350px;*/
	width: 80%;
	margin: 0px auto;
	color: #9e9e9e;}
.iptbox em{
	display: block;
	margin-top:2px;
	width: 100%;
	height: 35px;
	line-height: 47px;
	color: #a02426;
	font-size: 16px;
	font-weight: bold;
}
.iptbox span{
	display: block;
	width: 100%;
	height: 23px;
	color: #2a2a2a;
	font-size: 14px;
}
.iptbox input{
	width: 100%;
	color: #252525;
	/*height: 39px;*/
	height: 35px;
	padding:3px;
	margin-top: 8px;
	float: left;
	border: 1px solid #cfcdcd;
	text-indent:1em;
	cursor: text;
	color: #252525;
	font-size: 12px;
}

/* 侧边弹框表单验证码开始 */
#now_code{
	cursor: pointer;
	width:110px;
	height:33px;
	margin-top:9px;
	margin-left:10px;
}

.iptbox .inp{
	width:135px;
	height:35px;
}
/* 验证码结束 */

.plceadarea input{
	display: block;
	width: 128px;
	height: 38px;
	float: left;
}
.tanboxarea{
	width: 128px;
	height: 38px;
	float: right;
	position: relative;
        color: #2a2a2a;
}
.tanboxarea input{
	position: absolute;
	top: 0;
	left: 0;
}
.tanboxarea span{
	position: absolute;
	display: block;
	top: 8px;
	width: 31px;
	height: 38px;
	right: 0px;
	text-align: center;
	line-height: 38px;
}
.iptbox textarea{
	padding: 10px;
	width: 100%;
	height: 100px;
	color: #252525;
	float: left;
	margin-top: 10px;
	outline: none;
	resize:none;
	text-align: left;
	font-size: 12px;
	border: 1px solid #cfcdcd;
}
 
.iptbox button{
	display: block;
	width: 100%;
	float: left;
	margin-top: 10px;
	line-height: 37px;
	height: 37px;
	text-align: center;
	background-color: #a02426;
	font-size: 18px;
	color: #fff;
	border: none;
	outline: none;
}
.iptbox p{
	display: block;
	width: 100%;
	float: left;
	height: 30px;
	line-height: 40px;
	color: #828282;
	font-size: 12px;
	margin-bottom: 25px;
	padding:5px;
}


/* footer area */

footer{background: url(../jiudian/_02.jpg) no-repeat;font-family:"Microsoft Yahei";width: 100%;height:230px;clear: both;bottom: 0px;font-family: "微软雅黑"}

/* footer_footer_top */

.footcenter{
	margin: 0 auto;
	width: 100%;
	float: left;
	background: #241502;
}
.footuplistbox{
	width: 1200px;
	margin: 0 auto;
}
.footuplistbox dl{
	margin: 0 auto;
	display: block;
	width: 1200px;
	height: 73px;
	color: #222222;
	font-size: 14px;
	padding-top: 47px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: bold;
	border-bottom: 1px solid #d7d7d7;
}
.footuplistbox dl>dt{
	width: 82px;
	height: 26px;
	float: left;
	text-align: center;
	cursor: pointer;
	color: #a2a0a0;
}
.footdtfocus{
	border-bottom: 2px solid #bc1b1c;
}
.footuplistbox ul{
	clear: both;
	width: 1200px;
	height: auto;
	float: left;
	line-height: 28px;
	padding-top: 8px;
	padding-bottom: 28px;
}
.footuplistbox ul li{
	display: block;
	float: left;
	margin-right: 20px;
	color: #626262;
	font-size: 14px;
}
/* =============================================================================================================================================== */

.footerdown{
    width: 100%;
    position: absolute;
    font-size: 12px;
	background: #212121;
	
}
.footertitle{
	width: 1200px;
	margin: 0 auto;
	height: 60px;
	padding-top: 28px;
	color: #fff;
	font-family: "微软雅黑";
	position: absolute;
    top: 26px;
	/*border-bottom: 1px solid #5a5a5a;*/
}
.footertitle em{
	display: block;
	width: 93px;
	height: 30px;
	font-size: 18px;
	text-align: center;
	float: left;
}
.footertitle span{
	display: block;
	width: 93px;
	height: 30px;
	line-height:30px;
	font-size: 14px;
	text-align: center;
	float: left;
}
.footermain{
	width: 1200px;
	height: 198px;
	margin: 0 auto;
	position: absolute;
    top: 58px;
}
.ftmainlft{
	width: 400px;
	height: 160px;
	float: left;
	padding-top: 32px;
}
.ftmainlft em:first-child{
	letter-spacing: 2px;
}
.ftmainlft em{
	padding-left: 10px;
	display: block;
	color: #888;
	font-size: 14px;
	float: left;
	width: 100%;
	line-height: 20px;
}

.ftmainrgt{
	float: right;
	height: 160px;
	width: 240px;
	list-style: none;
	/*padding-top: 10px;*/
	color: #fff;
	font-size: 12px;
}

.ftmainrgt li{
	float: left;
	display: block;
	width: 120px;
}
.ftmainrgt li img{
	margin-left: 14px;
	display: block;
	width: 90px;
	height: 90px;
}
.ftmainrgt li span{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
#weixincenter{
	width: 90px;
	float: left;
	text-align: right;
}
.fticon{
	width: 30px;
	height: 25px;
	display: block;
	float: left;
}

.fticon1{
	background-position: center;
	background: url(../pic/phoneicon.png) no-repeat;
}
.fticon2{
	background-position: center;
	background: url(../pic/emailicon.png) no-repeat;
}
.fticon3{
	background-position: center;
	background: url(../pic/linkicon.png) no-repeat;
}
.fticon4{
	background-position: center;
	background: url(../pic/placeicon.png) no-repeat;
}
.ftdownul{
	width: 100%;
	height: 160px;
	margin: 0 auto;
	padding-top: 68px;
	border-bottom: 1px solid #5a5a5a;
}

.lfnavline{
	position: relative;
	display: block;
	width:39px;
	height:40px;
	float:left;
}
.active{
	background: #2f2f2f;
	color:#fff;
}
.rgtnavline{
	position: relative;
	display: block;
	width:993px;
	height:40px;
	float:right;
}
.clsply{
	display: none;
}
.footertop{
	position: relative;
	display: block;
	width:1200px;
	height:230px;
	margin:0 auto;
	
}

.ftdownul ul{
	margin: 0 auto;
	display: block;
/*	height: 20px;*/
	width: 1200px;
	list-style: none;
	font-size: 14px;
}
.ftdownul ul li{
	float: left;
	color: #979797;
	margin-left: 20px;
}
.ftdownul ul li a:hover{
	color: #f4f4f4;
}
.ftdownul ul li:first-child{
	margin-left: 0px;
}
.footerdown p{
	text-align: center;
	color: #4d4d4d;
	font-size: 12px;
	/* line-height: 23px; */
}
.footerdown p:first-child{
	margin-top: 6px;
}
a{
	text-decoration:none;
	color: inherit;
}
.cnzz{
	margin-top:6px;
	text-align: center;
}

.footzxlg {
    width: 480px;
    height: 150px;
    float: left;
    text-align: center;
    position: relative;
}
.footzxlg img{
	position: absolute;
}
.footzxlg img:nth-child(1){
	left:168px;
}
.footzxlg img:nth-child(2){
	top:52px;
	left:94px;
}
.footzxlg img:nth-child(3){
	top:92px;
	left:118px;
}
