*{margin: 0;padding: 0;font-family: '微软雅黑';font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
.headimg{
    background: url('../img/tushu/banner.jpg');background-repeat: no-repeat;
    background-size: 110% 110%;height: 730px; transition: 2s all;
}
.headContent{
    height: 730px;background-color: rgba(0, 0, 0, .5);
}
.headtext{
    width: 1200px;height: 622px;margin:0 auto;padding-top: 80px;
}
.headtext p{
    font-size: 159px;text-align: center;color: #fff;position: relative;top: 0;left: 0;
}
.headtext ul{
    display: flex;color: #fff;justify-content:space-between;font-size: 20px;border-radius: 45px;
    border:1px solid #f49b28;width: 840px; height: 60px;margin: 0 auto;align-items: center;padding: 0 40px;margin-top: 60px;
    transform: scale(0);transition:  1.5s all;
}
.headtext ul li i{
    background-image: url('../img/tushu/list.png');margin-right: 5px;
    width: 15px;height: 15px;display: inline-block;
}
.typeTitle{
    color: #fff;text-align: center;font-size: 22px;margin-top: 85px;
    transform: scale(0);transition: 1.5s all;
}
.line{
    width: 87px;height: 2px;display: inline-block;border-bottom: 1px solid #fff;margin-bottom: 7px;
}
.Surround{
    width: 112px;height: 112px;border-radius: 100%;background-color: #f49b28;line-height: 112px;text-align: center;
    margin:0 auto;margin-top: 50px;cursor: pointer;position: relative;top: 0;left: 0;
}
.Surround a{
    color: #fff;font-size: 20px;
}
.clouds {
    text-align: center;font-size: 35px;margin-top: 85px;
}
.clouds hr{
    width: 80px;height: 5px; margin: 0 auto;background: #ff900e;border:0;margin-top: 25px;
}
.leaves{
    width: 1200px;height: 375px;margin:0 auto;margin-top: 78px;
}
.leaves li{
    float: left;margin-right: 10px;overflow: hidden;position: relative;cursor: pointer;
}
.leaves li img{
    width: 100%; height: 100%; transition: .2s all;
}
.leaves li:hover img{
    transform:scale(1.1);
}
.leaves li:last-child{margin:0;}
.one-img{
    /* background-image: url('../img/tushu/one-1.png'); */
    background-repeat: no-repeat;background-size: 100% 100%;
    width: 308px;height: 375px;overflow: hidden;
}
.files{
    background-color: rgba(0, 0, 0, .5);width: 308px;height: 375px;padding:15px;position: absolute;top: 0; left: 0;
}
.files-1{
    background-color: rgba(0, 0, 0, .5);width: 213px;height: 375px;padding:15px;position: absolute;top: 0; left: 0;
}
.two-img{
    width: 213px;height: 375px;overflow: hidden;
}
.inside{
    border:1px solid #fff;width: 275px;height: 340px;color: #fff;text-align: center;
}
.inside p{
    font-size: 18px;margin-top: 85px;
}
.inside p span{padding-top: 5px;display: inline-block;}
.inside em{margin-top: 55px;display: block;font-size: 18px;}
.inside a{
    display: inline-block;color: #fff;background-color: #226eae;
    width: 165px; height: 36px;line-height: 36px;font-size: 18px;margin-top: 8px;margin-bottom: 45px;
}
.inside b{
    display:inline-block;font-size: 12px;margin-right: 22px;font-weight: normal;
}
.inside b:last-child{margin:0;}
.flood{
    border:1px solid #fff;width: 180px;height: 340px;color: #fff;
}
.flood p{
    font-size: 18px;margin-top: 85px;margin-left: 30px;
}
.flood p span{padding-top: 5px;display: inline-block;}
.corner{
    margin-top: 170px;margin-left: 45px;
}
.corner-1{
    margin-left: 55px;margin-top: 170px;
}
.corner-1 b{
    display: inline-block;width: 40px; border-bottom: 1px solid #fff;margin-bottom: 5px;
}
.corner em{font-size: 14px;}
.corner b{
    display: inline-block;width: 40px; border-bottom: 1px solid #fff;margin-bottom: 5px;
}
.vide{
    width: 1200px; height: 205px; margin:0 auto;display: flex; justify-content: center;margin-top: 65px;
}
.vide-text{
    width: 400px; height: 200px; display: flex;justify-content: center; align-items: center;flex-wrap: wrap;cursor: pointer;
}
.vide-yuan{
    width: 130px;height: 130px;border-radius: 100%;border:1px solid #dddddd;text-align: center;display: flex;align-items: center;
    justify-content: center;
}
.textss{
    background-image: url('../img/tushu/textss.jpg');background-repeat: no-repeat;
    width: 60px !important; height: 60px;text-align: center;display: inline-block;
}
.textss-1{
    background-image: url('../img/tushu/qqqq.jpg');background-repeat: no-repeat;
    width: 60px !important; height: 60px;text-align: center;display: inline-block;
}
.rest{
    background-image: url('../img/tushu/nth.jpg');background-repeat: no-repeat;
    width: 80px !important; height: 66px;text-align: center;display: inline-block;
}
.rest-1{
    background-image: url('../img/tushu/rest-1.jpg');background-repeat: no-repeat;
    width: 80px !important; height: 66px;text-align: center;display: inline-block;
}
.Season{
    background-image: url('../img/tushu/last.jpg');background-repeat: no-repeat;
    width: 60px !important; height: 66px;text-align: center;display: inline-block;
}
.Season-1{
    background-image: url('../img/tushu/Season-1.jpg');background-repeat: no-repeat;
    width: 60px !important; height: 66px;text-align: center;display: inline-block;
}
.vide-text p{
    width: 100%;text-align: center;font-size: 25px;
}
.join{
    width: 100%; height: 380px;background-color: #1e130b; overflow: hidden;margin-top: 23px;
}
.metro{
    width: 1200px; height: 380px; margin: 0 auto;
    display: flex;color: #fff;align-items: center;
    justify-content: center;
}
.dbx{
   
    background-repeat: no-repeat;
    width: 20px;height: 20px;
    position: relative;top: 33px;
}

.metro div{
    /* margin-right: 120px; */
    display: flex;justify-content: center; align-items: center;width: 360px;line-height: 25px;
}
.ton{margin:0 137px;}
.Highway{
    width: 1200px; height: 394px;margin:0 auto;margin-top: 55px;
}
.Highway-xi{
    float: left;width: 385px;margin-right: 17px;
}
.search{
    position: relative;top: 0;left: -300px;transition: 2s all;opacity: 0;
}
.search-1{
    position: relative;top: 0;left: 300px;transition: 2s all;opacity: 0;
}
.Highway-xi li{
    width: 385px; height: 53px; background-color: #232121;line-height: 53px;text-align: center;margin-bottom: 15px;
    border-radius: 8px;font-size: 18px;color: #fff;
}
.Highway-xi li:last-child{margin:0;}
.Bluetooth{
    background-image: url('../img/tushu/Bluetooth.jpg');
    background-repeat: no-repeat;background-size: 100% 100%;float: left;
    width: 377px;height: 388px;margin-right: 19px;
}
.ko{
    background-color: rgba(58, 28, 7, .65);
    width: 377px;height: 388px;float: left;
}
.ko p{
    font-size: 22px;color: #fff;text-align: center;padding-top: 40%;
}
.ko a{
    width: 223px; height: 40px; background-color: #ec9f0b;display:block;margin:0 auto;
    text-align: center;line-height: 40px;color: #fff;font-size: 18px;margin-top: 40px;border-radius: 8px;
}
.ployment{
    width:100%;height: 380px;background-color: #1e130b;margin-top: 280px;
}
.graduation{
    width: 1200px; height: 455px;position: relative;
    bottom: 40%;left: 0; margin: 0 auto;
}
.scar{
    margin-right: 50px;width: 550px;float: left;
    transform: scale(0);transition: 2s all;
}
.complex{
    width: 600px; height: 454px;float: left;display: flex;
}
.complex ul{
    display: flex;justify-content: center;flex-wrap: wrap;
}
.droid{
    
    float: left;margin-right: 45px;margin-top: 20px;
    position: relative;top: -200px;left: 0;opacity: 0;transition: 2s all;
}
.droid img{
    padding-top: 17px;
}
.example{
    float: left;width: 473px; font-size: 14px;transition: 2s all;
    position: relative;top: -200px;left: 100px;opacity: 0;
}
.example hr{
    width: 100px;margin-top: 10px;margin-bottom: 10px;
}
.focus{font-size: 20px;}
.change{color: #fff;}
.signal{font-size: 20px;}
.Cheerful{
    background-image: url('../img/tushu/Expression.png');
    background-repeat: no-repeat;
    width: 1200px; 
    transform: scale(0);transition: 2s all;
}
.Respond{
    background-image: url('../img/tushu/Respond.jpg');
    background-repeat: no-repeat;
    height: 625px;margin-left: 320px;
    width: 1200px; margin-top: 60px;
    transform: scale(0);transition: 2s all;
}
.foam{
    background-image: url('../img/tushu/foam.png');
    background-repeat: no-repeat;
    width: 1200px; 
    transform: scale(0);transition: 2s all;
}
.Expression{
    width: 1200px;margin:0 auto; height: auto;margin-top: 60px;
}
.level{
    width: 544px; height: 360px;
    margin-top: 17%;margin-left: 50%;
    display: inline-block;
}
.level .weather{
    display: inline-block;
    width: 540px;height: 100px;
    background-color: #bc5c14;
    background: -webkit-linear-gradient(left, #d06617 , #aa5311);
    background: -o-linear-gradient(right, #d06617, #aa5311); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #d06617, #aa5311); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #d06617 , #aa5311); /* 标准的语法（必须放在最后） */
}
.level .weather p{
    font-size: 30px;color: #fff;padding-left: 30px;padding-top: 20px;
}
.level .weather em{
    font-size: 18px;color: #fff;padding-left: 30px;
}
.level ul{
    padding: 20px 0 0 180px; line-height: 30px;
}
.level .soldiers{
    padding:40px 0 0 180px;
}
.level a{
    width: 100px; height: 35px; display: inline-block;margin-right: 10px;
    background-color: #e1e1e1;text-align: center;line-height: 35px;color: #000;
}
.level-1{
    width: 544px; height: 360px;
    display: inline-block;position: relative;top: 31%;right: 26.5%;
}
.level-1 .weather{
    display: inline-block;
    width: 540px;height: 100px;background-color: #bc5c14;
}
.level-1 .weather p{
    font-size: 30px;color: #fff;padding-left: 30px;padding-top: 20px;
}
.level-1 .weather em{
    font-size: 18px;color: #fff;padding-left: 30px;
}
.level-1 ul{
    padding-top: 20px; line-height: 30px;
}
.level-1 .soldiers{
    padding-top:40px;
}
.level-1 a{
    width: 100px; height: 35px; display: inline-block;margin-right: 10px;
    background-color: #e1e1e1;text-align: center;line-height: 35px;color: #000;
}
.brief{
    background-image: url('../img/tushu/brief.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;margin-top: 125px;
}
.about{
    text-align: center;color: #fff;padding-top: 55px;
}
.about p{
    font-size: 35px;margin-bottom: 10px;
}
.about hr{
    width: 150px;margin:0 auto;background-color: #ec9f0b;border: 0;height: 2px;
}
.Vinegar{
    border-top: 1px solid #ec9f0b;width: 80px;margin:0 auto;height: 3px;background-color: #ec9f0b;
    position: relative;top: 3px;left: 0;
}
.about em{margin-top: 20px;display: block;}
.character{
    text-align: center;margin-top: 34px;
}
.character p{
    color: #fff;font-size: 20px;margin-top: 5px;
}
.retreat-text{
    width: 1040px;margin:0 auto;text-align: center;margin-top: 35px;line-height: 27px;
}
.retreat-text p{
    position: relative;top: 300px;left: 0;transition: 1s all;
}
.retreat-text a{
    width: 210px; border:1px solid #ff900e;display: inline-block;height: 40px; line-height: 40px;
    color: #000;margin-top: 20px;border-radius: 8px;
}
.retreat-text a:hover{
    background-color: #ff900e;color: #fff;
}
.Carousel{
    width: 1200px; height: 610px; margin:0 auto;margin-top: 55px;
}
.swiper-button-prev{
    background-image: url('../img/tushu/left.png') !important;
    background-size: 55px 100px !important;
    outline: none;
    width: 114px !important; height: 127px !important;
    position: relative !important; top: -55% !important; left: -10% !important;
}
.swiper-button-next{
    background-image: url('../img/tushu/right.png') !important;
    background-size: 55px 100px !important;
    outline: none;
    width: 114px !important; height: 127px !important;
    position: relative !important; top: -73% !important; left: 100% !important;
    
}
.heartbeat{animation:heartbeat 1.5s infinite;-webkit-animation:heartbeat 1.5s infinite}
@-webkit-keyframes heartbeat{0%,30%,50%,60%,80%{-webkit-transform:scale(1)} 40%,70%{-webkit-transform:scale(1.1)}}
@keyframes heartbeat{0%,30%,50%,60%,80%{transform:scale(1);} 40%,70%{transform:scale(1.1)}}
.swiper-pagination {
    bottom:15px !important;
}
.swiper-slide img{
    position: relative;
}
.swiper-slide div{
    position: absolute; top: 24%; right: 0;color: #fff;
    width: 473px; height: 316px;background-color: rgba(30, 19,11, 0.63);
}
.swiper-slide div em{
    font-size: 32px;text-align: center;display: block;margin-top: 50px;
}
.swiper-slide div p{
    font-size: 14px;margin:21px 30px 37px 30px;line-height: 24px;
}
.swiper-slide div a{
    width: 236px;height: 46px;background-color: #e97900;display: block;float: left;
    text-align: center;line-height: 46px;color: #fff;font-size: 16px;
}
.swiper-slide div a:last-child{
    width: 236px;height: 46px;background-color: #181614;display: block;float: left;
    text-align: center;line-height: 46px;color: #fff;font-size: 16px;
}

.slide-1{
    position: absolute;top: 0;left: 0;opacity: 0;
}
.slide-2{
    position: absolute;top: 0;left: -20%;opacity: 0;
}
.slide-3{
    position: absolute;top: 0;left: -40%;opacity: 0;
}
.slide-4{
    position: absolute;top: 0;left: -60%;opacity: 0;
}
.slide-5{
    position: absolute;top: 0;left: -80%;opacity: 0;
}



/* 新增 */
.met-index-news{
    text-align: center;
}
.met-index-news .neWeb_title{
    /*padding-top: 59px;*/
    text-align: center;
    font-size: 36px;
    color: #42484e;
    font-weight: 400;
}
.met-index-news .neWeb_new_desc{
    margin-top: 16px;
    font-size: 16px;
    color: #555555;
    /* letter-spacing: 1px; */
    text-align: center;
}
.met-index-news hr{
    margin: 0 auto;
    margin-top: 14px;
    width: 61px;
    height: 2px;
    background-color: #e50202;
    border: none;
}

/* 海岸动态 */
.met-index-news .tem_index_news_tab{
    display: inline-block;
    margin: 0 0 10px;
    margin-top: 20px;
    height: 35px;
    border-right: 1px solid #8c989f;
    list-style: none;
    line-height: 37px;
}
.tem_index_news_tab li{
    float: left;
}
.tem_index_news_tab li.flex-active h3{
    background: #8c989f;
    color: #fff;
}
.tem_index_news_tab li h3{
    padding: 0 40px;
    height: 35px;
    font-size: 100%;
    border: 1px solid #8c989f;
    border-right: 0;
    font-weight: normal;
    line-height: 35px;
    cursor: pointer;
    font-size: 1rem;
}
.tem_index_news_tab li h3:hover{
    background: #8c989f;
    color: #fff;
}
.tem_index_news_list{
    margin:20px 0 0;
}

.met_none{
    display: none;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.met_clear{
    clear: both;
}
.tem_index_news_list li {
    float: left;
    overflow: hidden;
    width: 50%;
    list-style: none;
    text-align: left;
}

.tem_index_news_list li dl {
    margin-right: 10px;
    padding-top: 21px;
    height: 115px;
}
.tem_index_news_list li dl.tem_even {
    margin-right: 0;
    margin-left: 10px;
}
.tem_index_news_list dt {
    position: relative;
    float: left;
    overflow: hidden;
    width: 160px;
    /*height: 115px;*/
    border-bottom: 1px solid #e7e8ed;
    font-size: 0;
}
.tem_index_news_list li a {
    display: block;
}
.tem_index_more{
    margin-left: 40%;
}
.tem_index_more a{
    display: block;
    height: 40px;
    background: #e9280c;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    text-decoration: none;
}
.tem_index_more a:hover{
    color: #fff;
    text-decoration: none;
}
.tem_index_news_list dd {
    float: right;
    margin-left: -160px;
    width: 89%;
}
.tem_index_news_list_txt {
    margin-left: 100px;
    height: 115px;
    border-bottom: 1px solid #e7e8ed;
}
.tem_index_news_list_txt a hr{
    margin-top: 6px;
    width: 380px;
    height: 1px;
    background-color: #EFEFEF;
    border: none;
}
.tem_index_news_list_txt a hr:nth-child(2){
    position: relative;
    top: 7px;
    background-color: #232323;
    width: 10px;
    margin-left: 0;
}
.tem_index_news_list dd:hover{
    background-color: #F7F8FA;
    transition:.3s all;
}
.tem_index_news_list dd a {
    padding: 0 10px;
    text-decoration: none;
}
.tem_index_news_list dd a:hover,.tem_index_news_list dd a:focus{
    color: transparent;
}
.tem_index_news_list_txt h3 {
    overflow: hidden;
    margin-bottom: 3px;
    height: 32px;
    font-weight: normal;
    line-height: 32px;
    text-align: left !important;
    font-size: 100% !important;
    color: #000 !important;
}

.tem_index_news_list_txt p {
    overflow: hidden;
    height: 42px;
    color: #818181;
    font-size: 13px;
    margin-top: 22px;
    margin-bottom: 0;
}
.tem_index_news_list_txt span.time {
    display: block;
    height: 25px;
    color: #818181;
    line-height: 25px;
}
.tem_index_news_list_txt h3,.tem_index_news_list_txt hr,.tem_index_news_list_txt p{
    margin-left: -3px;
}
.tem_inner, .met_section {
    position: relative;
    margin: 0 auto;
    margin: 0 auto;
    width: 1325px;
}
@media screen and (min-width: 0px) and (max-width: 1200px){
    .tem_inner, .met_section {
        padding: 0;
        width: 1100px;
    }
}
@media screen and (min-width: 1325px) and (max-width: 1900px) {
    .tem_inner, .met_section {
        padding: 0;
        width: 1325px;
    }
}

a.show:focus,a.show:hover{
    color: #fff;
}
.H_link{
    display: none;
}
.moreone {
    
    width: 148px;
    height: 30px;
    display: block;
    transition: all 0.5s cubic-bezier(0.215,0.61,0.355,1) 0s;
    border: #dfdfdf 1px solid;
        border-top-color: rgb(223, 223, 223);
        border-right-color: rgb(223, 223, 223);
        border-bottom-color: rgb(223, 223, 223);
        border-left-color: rgb(223, 223, 223);
    margin-top: 50px;
    line-height: 25px;
    text-align: center;
    color: #848484;
}
a.moreone:hover{
    color: #464646;
}
.demo{
        width: 148px;height: 30px;border:1px solid #ddd;overflow: hidden;
        text-align: center;line-height: 40px;position: relative;cursor: pointer;
    }
  .demo  span{
        position: absolute;top: -7px; left: 30%;
    }
  .demo  b{
        position: absolute;top:30px;left: 30%;
    }
  .demo  span{
        transition: .3s all;
    }
  .demo  b{
        transition: .3s all;
    }
    .tem_index_more {
    margin-left: 40%;
}

.chaintitle{
    width: 100%;
    position: relative;
    margin-top:100px;
    margin-right: 200px;
    /* opacity: 0; */
    /* animation: g1whati 3s ;
    -webkit-animation: g1whati 3s ;
    -o-animation: g1whati 3s ;
    -ms-animation:g1whati 3s ; */
}
.englishfon{
    position: relative;
    margin:0 auto;
}
.englishfon img{
    display: block;
    margin:0 auto;
}
.chinesefon{
    position: relative;
    top:10px;
    margin:0 auto;
    text-align: center;
    font-size:34.1px; 
    color:#252527;
}
.zsblock{
    position: relative;
    top:19px;
    margin:0 auto;
    background-color: #7e7e7e;
    width:89px;
    height:5px;
}
.chaintitle1 hr{
    background-color: #7e7e7e;
    margin-top:16px;
}
.chaintitle1 p{
    margin-top:20px;
    font-size:16.05px;
    color:#2b2b2b;
    text-align: center;
}
.chaintitle2 hr{
    background-color: #7e7e7e;
    margin-top:16px;
}
.chaintitle2 p{
    margin-top:20px;
    font-size:16.05px;
    color:#2b2b2b;
    text-align: center;
}
.chaintitle hr{
    background-color: #7e7e7e;
    margin-top:16px;
}
.chaintitle p{
    margin-top:20px;
    font-size:16.05px;
    color:#2b2b2b;
    text-align: center;
}

/*new浏览更多*/
.tem_index_mores{
    margin-left: 40%;
}
.tem_index_mores a{
    display: block;
    height: 40px;
    background: #ff900e;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 40px;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    /*margin-bottom: 60px;*/
    text-decoration: none;
}
.tem_index_mores a:hover{
    color: #fff;
    text-decoration: none;
}
.soldiers a:hover{
    background-color:  #d06617 ;
    color: #fff;

}
/*FOOTER*/
footer{width: 100%;clear: both;bottom: 0px;background-color: #212121 !important;margin-top: 20px;}
.clsply{
    display: none;
}
.footertop{
    position: relative;
    display: block;
    width:1200px;
    height:360px;
    margin:0 auto;
}
.nav{
    position: relative;
    display: block;
    top: 33px;
    height: 40px;
    width: 1200px;
    /*background-color: background-color: #161616;*/
}
.lfnavline{
    position: relative;
    display: block;
    width:39px;
    height:40px;
    float:left;
}
ul.footul{
    position: relative;
    display: block;
    float:left;
}
ul.footul>li{
    list-style: none;
    width:120px;
    height:40px;
    float:left;
    font-size: 14px;
    color:#666666;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
}
ul.footul>li:first-child{
    color:#fff;
    background:#535353;
}
.rgtnavline{
    position: relative;
    display: block;
    width:993px;
    height:40px;
    float:right;
}
ul.menuul{
    position: absolute;
    top:87px;
}
ul.menuul li{
    display: block;
    float:left;
    list-style: none;
    padding:3px 9px;
}
ul.menuul li a{
    font-size: 14px;
    color:#666666;
}
ul.menuul a:hover{
    color:#fff;
    text-decoration:none;
}
.footlf{
    position: absolute;
    display: block;
    top:180px;
    color: #fff;

}
.footlf img{
    display: block;
}
.footerhr{
    position: relative;
        margin-top: -20px;
    left: 0;
    width: 100%;
    display: block;
    border: none;;
    height: 1px;
    background-color: #dbdbdb;
}
.footmid{
    position: absolute;
    display: block;
    top:180px;
    width:261px;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
}
.erweimod{
    position: absolute;
    display: block;
    width:118px;
    float:left;

}
.erweimod:nth-of-type(1){
    left:0px;
}
.erweimod:nth-of-type(2){
    right:0px;
}
.erweimod img{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    display: block;

}
.erweimod p{
    position: absolute;
    top:120px;
    width:100%;
    font-size: 14px;
    color:#232323;
    text-align: center;
}
.footrgt{
    display: block;
    position: absolute;
    right:18px;
    top:180px;
    width:281px;
}
.footrgt span{
    display: block;
    position: absolute;
    top:-2px;
    font-size: 32px;
    color:#fff;
    font-weight: bold;
    right:0;
}
.footrgt button{
    position: absolute;
    display: block;
    width:270px;
    height:41px;
    right:0;
    background-color: #02a757;
    font-size:18px;
    color:#ffffff;
    text-align: center;
    border: none;
    top:73px;
}
.footrgt button:hover{
    background: #047940;
}
.footrgt img{
    width:43px;
}
.footp{
    width: 100%;
    position: relative;
    height: 60px;
    min-width: 1200px;
    display: block;
    float: left;
    background-color: #212121;
}
.footp>p{
    display: block;
    position: absolute;
    top: 3px;
    width:100%;
    font-size:12px;
    line-height: 20px;
    color:#ababab;
    text-align: center;

}
.cnzz{
    position: absolute;
    bottom: -2px;
    left:49%;
}

/*底部footer区结束*/
.mt5{
    margin-top: 15px;
}
